
<div class="container">
    
    <img (click)="detailed()" src="../../../../assets/art/1 - The Birth of Venus.jpg" class="imgPattern1">
    <p class="titleVenus">The birth of Venus - mid 1480s, by Sandro Botticelli</p>
    <p>The birth of Venus - mid 1480s, by Sandro Botticelli.</p>

</div>


<div class="container">

    <img src="../../../../assets/art/2 - Primavera.jpg" class="imgPattern1">
    <p class="titlePrimavera">Primavera (Spring) - 1477~1478, by Sandro Botticelli</p>
    <p>Primavera (Spring) - 1477~1478, by Sandro Botticelli.</p>

</div>


<div class="container">

    <img src="../../../../assets/art/3 - Spring Flowers.jpg" class="imgPattern1">
    <p class="titleSpring">Spring Flowers - 1897, by Albert-Émile Artigue</p>
    <p>Spring Flowers - 1897, by Albert-Émile Artigue.</p>

</div>


<div class="container">

    <img src="../../../../assets/art/4 - César Pattein w.jpg" class="imgPattern1">
    <p class="titleSpring">Spring Flowers - 1897, by Albert-Émile Artigue</p>
    <p>Spring Flowers - 1897, by Albert-Émile Artigue.</p>

</div>

<div class="container">

    <img src="../../../../assets/art/5 - César Pattein.png" class="imgPattern1">
    <p class="titleSpring">Spring Flowers - 1897, by Albert-Émile Artigue</p>
    <p>Spring Flowers - 1897, by Albert-Émile Artigue.</p>

</div>

<div class="container">

    <img src="../../../../assets/art/6 - Summer (Poletje).jpg" class="imgPattern2">
    <p class="titleSummer">Spring Flowers - 1897, by Albert-Émile Artigue</p>
    <p class="textSummer">Spring Flowers - 1897, by Albert-Émile Artigue.</p>

</div>

<div class="container">

    <img src="../../../../assets/art/7 - Beauty and Beauty.jpg" class="imgPattern1">
    <p class="titleSpring">Spring Flowers - 1897, by Albert-Émile Artigue</p>
    <p>Spring Flowers - 1897, by Albert-Émile Artigue.</p>
    <br/>
    <br/>

</div>

<div class="container">

    <img src="../../../../assets/art/8 - The quiet pet.jpg" class="imgPattern1">
    <p class="titleSpring">Spring Flowers - 1897, by Albert-Émile Artigue</p>
    <p>Spring Flowers - 1897, by Albert-Émile Artigue.</p>
    <br/>
    <br/>

</div>

<div class="container">

    <img src="../../../../assets/art/9 - An Amateur.jpg" class="imgPattern1">
    <p class="titleSpring">Spring Flowers - 1897, by Albert-Émile Artigue</p>
    <p>Spring Flowers - 1897, by Albert-Émile Artigue.</p>
    <br/>
    <br/>

</div>
