
<div class="containerVenus">

    <img src="../../../../assets/art/The Birth of Venus.jpg" class="imgBirthVenus">
    <p class="titleVenus">The birth of Venus - mid 1480s, by Sandro Botticelli</p>
    <p>The birth of Venus - mid 1480s, by Sandro Botticelli.</p>

</div>


<div class="containerPrimavera">

    <img src="../../../../assets/art/Primavera.jpg" class="imgPrimavera">
    <p class="titlePrimavera">Primavera (Spring) - 1477~1478, by Sandro Botticelli</p>
    <p>Primavera (Spring) - 1477~1478, by Sandro Botticelli.</p>

</div>


<div class="containerVenus2">

    <img src="../../../../assets/art/The Birth of Venus.jpg" class="imgBirthVenus">
    <p class="titleVenus2">The birth of Venus - 1486, by Sandro Botticelli</p>
    <p>The birth of Venus - mid 1480s, by Sandro Botticelli.</p>

</div>