.video {
    width: 100%;   
    height: auto;
}

.enter {
    position: fixed; 
    margin-left: 850px;
    margin-top: 360px;
    z-index: 1;
    text-decoration: none;
    font-size: 60px;
    color: floralwhite;
    font-weight: lighter;
}
